@model ndomitio.github.io.Models.Shoe

@{
    ViewBag.Title = "Details";
}

<link href="~/ShoeDetailsStyle.css" rel="stylesheet" />
<nav class="main-menu">
    <div>
        <a class="logo" href="http://startific.com">
        </a>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    @*<div class="settings"></div>*@
    <div class="scrollbar" id="style-1">
        <ul>
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-home fa-lg"></i>
                    <span class="nav-text">Home</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Outfits")">
                    <i class="fa fa-arrow-left fa-lg"></i>
                    <span class="nav-text">Back to index</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Create", "Outfits")">
                    <i class="fa fa-plus fa-lg"></i>
                    <span class="nav-text">Create Outfits</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Tops")">
                    <i class="fa fa-tumblr fa-lg"></i>
                    <span class="nav-text">Tops</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Bottoms")">
                    <i class="fa fa-bold fa-lg"></i>
                    <span class="nav-text">Bottoms</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Accessories")">
                    <i class="fa fa-adn fa-lg"></i>
                    <span class="nav-text">Accessories</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Shoes")">
                    <i class="fa fa-strikethrough"></i>
                    <span class="nav-text">Shoes</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("About", "Home")">
                    <i class="fa fa-info fa-lg"></i>
                    <span class="nav-text">About</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="cards-container">
    <div class="card-container">
        <div class="card">
            <div class="front">
                <img src="@Html.DisplayFor(modelItem =>modelItem.ShoePhoto)" />
            </div>
            <div class="back" style="text-align:center;">
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.ShoeName) : @Html.DisplayFor(model => model.ShoeName)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.ShoeColor) : @Html.DisplayFor(model => model.ShoeColor)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.ShoeSeason) : @Html.DisplayFor(model => model.ShoeSeason)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.ShoeOccasion) : @Html.DisplayFor(model => model.ShoeOccasion)
                </p>
                <p style="margin-top:20px">
                    @Html.DisplayNameFor(model => model.ShoeType) : @Html.DisplayFor(model => model.ShoeType)
                </p>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ShoeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.ShoeID }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>