@{
    ViewBag.Title = "Home Page";
}

<link href="~/Home.css" rel="stylesheet" />

<div class="untitled">
    <div class="untitled__slides">
        <div class="untitled__slide">
            <div class="untitled__slideBg"></div>
            <div class="untitled__slideContent">
                <a class="button" style="font-size:30px;" href="@Url.Action("Index", "Accessories")">Accessories</a>
                <span></span>
                <a class="button" href="@Url.Action("Index", "Outfits")">Check out outfits</a>
            </div>
        </div>
        <div class="untitled__slide">
            <div class="untitled__slideBg"></div>
            <div class="untitled__slideContent">
                <a class="button" style="font-size:30px;" href="@Url.Action("Index", "Shoes")">Shoes</a>
                <span></span>
                <a class="button" href="@Url.Action("Index", "Outfits")" target="/black">Check out outfits</a>
            </div>
        </div>
        <div class="untitled__slide">
            <div class="untitled__slideBg"></div>
            <div class="untitled__slideContent">
                <a class="button" style="font-size:30px;" href="@Url.Action("Index", "Tops")">Tops</a>
                <span></span>
                <a class="button" href="@Url.Action("Index", "Outfits")" target="/black">Check out outfits</a>
            </div>
        </div>
        <div class="untitled__slide">
            <div class="untitled__slideBg"></div>
            <div class="untitled__slideContent">
                <a class="button" style="font-size:30px;" href="@Url.Action("Index", "Bottoms")">Bottoms</a>
                <span></span>
                <a class="button" href="@Url.Action("Index", "Outfits")">Check out outfits</a>
            </div>
        </div>
    </div>
    <div class="untitled__shutters"></div>
</div>
