@model IEnumerable<ndomitio.github.io.Models.Outfit>

@{
    ViewBag.Title = "Index";
}

<link href="~/OutfitsStyleSheet.css" rel="stylesheet" />
<h2>Outfits</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!DOCTYPE html>
<html class="menu">

<head>
    <meta charset="utf-8" />
    @*<meta http-equiv="X-UA-Compatible" content= ="IE=edge" />*@
    @*<meta name="google" value="notranslate" />*@
    <title>Side Menu</title>
    <script src="~/Content/Project10JavaScript.js"></script>
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <nav class="main-menu">
        <div>
            <a class="logo" href="http://startific.com">
            </a>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        @*<div class="settings"></div>*@
        <div class="scrollbar" id="style-1">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-home fa-lg"></i>
                        <span class="nav-text">Home</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Create", "Outfits")">
                        <i class="fa fa-plus fa-lg"></i>
                        <span class="nav-text">Create</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Tops")">
                        <i class="fa fa-tumblr fa-lg"></i>
                        <span class="nav-text">Tops</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Bottoms")">
                        <i class="fa fa-bold fa-lg"></i>
                        <span class="nav-text">Bottoms</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Accessories")">
                        <i class="fa fa-adn fa-lg"></i>
                        <span class="nav-text">Accessories</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Shoes")">
                        <i class="fa fa-strikethrough"></i>
                        <span class="nav-text">Shoes</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("About", "Home")">
                        <i class="fa fa-info fa-lg"></i>
                        <span class="nav-text">About</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    @*I have clothing items from multiple movies.  I want to display a prompt box and have the user select
        a movie.  From the movie selection I want to display the clothes from that movie.*@
    <div id="movielist" width="400" height="400">
    </div>
    <div id="menulist">
        <select onchange="selectMovie(this.value);">
            <option value="0" selected="selected">Select Movie</option>
            <option value="1">Pulp Fiction</option>
            <option value="2">Kill Bill</option>
            <option value="3">Django Unchained</option>
            <option value="4">Reservoir Dogs</option>
        </select>
    </div>
    <div class="row" id="outfitorig" display="none" style="justify-content:center; flex-direction:column;">
        <div class=""></div>
        <div class="" style="justify-content:space-around;">
            @*<button id="button1" type="button" class="btn" onmouseover="overBtn(this)" onmouseout="outBtn(this)" onclick="SwapDivsWithClick('outfitorig', 'killbill', 'pulpfiction', 'DU', 'rdogs')">Change Movie!</button>*@

            @foreach (var item in Model)
            {
                if ((item.Top.TopName == "Yellow Jacket") || (item.Top.TopName == "White Trench Coat") || (item.Top.TopName == "Nurse uniform"))
                {

                    <h1 style="margin-top:10vh">
                        As seen in:
                    </h1><button type="button" class="btn" onmouseover="overBtn(this)" onmouseout="outBtn(this)" onclick="Redirect();">Kill Bill</button>
                    <output name="result" id="confirmResponse"></output>

                }
                if ((item.Top.TopName == "Suede jacket") || (item.Top.TopName == "Black suit coat") || (item.Top.TopName == "White Dress Shirt") || (item.Top.TopName == "UC Santa Cruz T-Shirt") || (item.Top.TopName == "White T-Shirt"))
                {
                    <h1 style="margin-top:10vh">As seen in: </h1><button type="button" class="btn" onmouseover="overBtn(this)" onmouseout="outBtn(this)" onclick="Redirect();">Pulp Fiction</button>
                    <output name="result" id="confirmResponse"></output>
                }
                <div class="w3-container" style="color:gray!important; margin-top:0vh;">
                    <div class="w3-card-4" style="width:50%; margin-left:25%; margin-right:25%;margin-top:5%;">
                        <header class="w3-container">
                            <h1>@Html.DisplayFor(modelItem => item.Top.TopName)</h1>
                        </header>
                        <div class="w3-container">
                            <img style="width:25vw; height:30vh;" src="@Html.DisplayFor(modelItem => item.Top.TopPhoto)" />
                        </div>
                        <header class="w3-container">
                            <h1>@Html.DisplayFor(modelItem => item.Bottom.BottomName)</h1>
                        </header>
                        <div class="w3-container">
                            <img style="width:25vw; height:30vh;" src="@Html.DisplayFor(modelItem => item.Bottom.BottomPhoto)" />
                        </div>
                        <header class="w3-container">
                            <h1>@Html.DisplayFor(modelItem => item.Shoe.ShoeName)</h1>
                        </header>
                        <div class="w3-container">
                            <img style="width:25vw; height:30vh;" src="@Html.DisplayFor(modelItem => item.Shoe.ShoePhoto)" />
                        </div>
                        <header class="w3-container">
                            <h1>@Html.DisplayFor(modelItem => item.Accessory.AccessoryName)</h1>
                        </header>
                        <div class="w3-container">
                            <img style="width:25vw; height:30vh;" src="@Html.DisplayFor(modelItem => item.Accessory.AccessoryPhoto)" />
                        </div>
                        <p style="margin-top:5%;">
                            @Html.ActionLink("Edit", "Edit", new { id = item.OutfitID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.OutfitID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.OutfitID })
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
    <footer>
        <p onmouseover="overFtrBtn(this)" onmouseout="outFtrBtn(this)">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    <p>Write something in the search field and press "ENTER".</p>
    <input type="search" id="myInput" onsearch="myHWFunction()">
    <p id="demo"></p>

</body>
</html>
